

/*==========================
    VARIABLES / FONTS
==========================*/


/* Variables on Root */
:root {
    --white: #FAFAFA;
    --blue: #3873d7;
    --green: #269687;
    --red: #9f2b32;
    --purple: #7c4598;
    --text-shadow: 1px 1px rgba(0,0,0,0.5);
}

/* Font Face imports */
@font-face {
    src: url('../fonts/Crass.ttf');
    font-family: 'Crass';
}

@font-face {
    src: url('../fonts/Ubuntu.ttf');
    font-family: 'Ubuntu';
}





/*==========================
    GENERAL / GLOBAL STYLES
==========================*/


body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 900px;
    min-height: 100vh;
    margin: auto;
    padding: 15px;
    background-color: var(--purple);
    color: var(--white);
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 0.9rem;
}

/* 
*  Will fill up availible space if need
*  to push the footer to the bottom
*/
main {
    flex: 1;
}

a {
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.heading {
    font-weight: bold;
    font-size: 28px;
    text-shadow: var(--text-shadow);
}

#clouds {
    display: none;
}

#ref-link {
    color: var(--white);
    text-decoration: underline;
    height: 30px;
    margin-top: 30px;
}


/*==========================
    HEADER
==========================*/


header {
    position: relative;
    margin-bottom: 60px;
}

nav div {
    display: inline-block;
    height: 80px;
    line-height: 80px;

}

/* LOGO */

#nav-left {
    position: relative;
    top: 1px;
}

#nav-logo {
    font-family: 'Crass', monospace;
    color: var(--white);
    text-decoration: none;
    text-shadow: var(--text-shadow);
    font-size: 1em;
}

/* PROFILE */

#nav-right {
    float: right;
    font-size: 1em;
}

#nav-leaderboard {
    color: var(--white);
}

/* USER PROFILE TAB */

.fa-user-circle {
    position: relative;
    top: 5px;
    margin-left: 12px;
    font-size: 2em;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s;
}

.fa-user-circle:hover {
    opacity: 0.7;
}

.paper-profile {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    font-size: .75rem;
    width: 175px;
    height: 200px;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

.profile-data {
    color: var(--red);
    float: right;
}

#logout a {
    float: right;
}





/*==========================
    INDEX
==========================*/


.index-content {
    max-width: 350px;
    margin: auto;
    margin-bottom: 60px;
}

/* LOGIN / REGISTER FORM */

.index-content input[type='text'],
.index-content input[type='password'] {
    width: 95%;
}

.index-left .error {
    color: white;
    background-color: #333;
    padding-left: 15px;
    max-width: 95%;
    padding: 5px 5px 5px 15px;
    border-radius: 4px;
    box-shadow: 0px 3px 5px 0px rgba(255,255,255,0.1);
}

.submit-button {
    margin-top: 30px;
}

/* GAME RULES */
.index-right ul {
    list-style-type: circle;
    padding-left: 18px;
    padding-top: 30px;
}

.index-right li {
    font-size: .9rem;
    padding-bottom: 15px;
}

/* USER INFO / PLAY GAME */

#index-user-info .fas {
    width: 30px;
}











