{% extends 'base.html' %}

{% block content %}
    <div id="game" class="fade-slide-in">

        <div id="brand-logo" class="with-shadow">
            <img id="brand-image" src="{{ url_for( 'static', filename='img/Lacoste.png' ) }}" alt="">
        </div>

        <!-- ANSWER FORM -->
        <form action="" method="POST" autocomplete="off" novalidate>
            <!-- ANWSER INPUT -->
            <div class="input">{{ answer_form.answer.label }}<br />{{ answer_form.answer() }}</div>
            <!-- hide if no errors -->
            {% if answer_form.answer.errors %}
            <div class="error">{% for error in answer_form.answer.errors %}<span>{{ error }}</span>{% endfor %}</div>
            {% endif %}

            <!-- SUBMIT -->
            <div class="submit-button">{{ answer_form.submit(class_="green-button") }}</div>
        </form>



        <!-- SKIP QUESTION -->
        <a id="skip-question" href="{{ url_for('game') }}"><button class="red-button">pass</button></a>
    </div>
{% endblock %}