{% extends 'base.html' %}

{% block content %}
    <div class="fade-slide-in">
        <h2 class="heading">Leaderboard</h2>
        
        <!-- ITERATE LEADERBOARD -->
        <table id="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Time (sec)</th>
                    <th scope="col">Score</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for user in leaderboard %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th> 
                        <td>{{ user.username }}</td>
                        <td>{{ user.best_time }}</td>
                        <td>{{ user.best_score }}</td>
                        <td>{{ user.rating }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- GO TO GAME BUTTON -->
        {% if 'user' in session %}
            <a href="{{ url_for('index') }}"><button class="blue-button">PLAY GAME</button></a>
        {% else %}
            <a href="{{ url_for('index') }}"><button class="blue-button">LOGIN</button></a>
        {% endif %}

        <!-- CLOUDS ANIMATION -->
        {% include '_clouds.html' %}
    </div>
{% endblock %}